In [3]:
import matplotlib.pyplot as plt
import pandas as pd
from pandas_ml import ConfusionMatrix
import seaborn as sns
import numpy as np
import sklearn

In [4]:
df_shopee = pd.read_csv('shopee_comments_auto.csv - shopee_comments_auto.csv.csv')

In [5]:
df_shopee.head(10)

,Index,auto_label,comment,id,manual_label
0,0,0,NaN,https://shopee.sg/Men-s-Casual-Windbreaker-Sui...,NaN
1,1,1,\nDisappointment... \n Fast delivery\n Good pr...,https://shopee.sg/Men-Shirt-Short-Sleeve-Slim-...,NaN
2,2,0,\n\n Fast delivery Excellent services for by s...,https://shopee.sg/Men-Shirt-Short-Sleeve-Slim-...,NaN
3,3,1,Good product quality,https://shopee.sg/UK-8-20-Mens-Zipper-Open-Bom...,NaN
4,4,1,Product quality is ok\n Delivery time as expe...,https://shopee.sg/Mens-Jogger-Shorts-Soul--Tar...,NaN
5,5,1,Good product quality Fast delivery Excellent ...,https://shopee.sg/Mens-Jogger-Shorts-by-Brave-...,NaN
6,6,1,Good product quality\n\n Good product quality...,https://shopee.sg/Male-Hooded-Sweatshirts-Casu...,NaN
7,7,1,\n Fast delivery Fast delivery\n Good product ...,https://shopee.sg/Mens-Jogger-Shorts-by-Brave-...,NaN
8,8,1,Good product quality Fast delivery Excellent ...,https://shopee.sg/Men-s--Fashion-Long-Sleeve-T...,NaN
9,9,0,Fast delivery,https://shopee.sg/UK-8-20-Mens-Zipper-Open-Bom...,NaN

In [6]:
df_shopee = df_shopee.iloc[:, 1:3]

In [7]:
df_shopee.head(10)

   auto_label                                            comment
0           0                                                NaN
1           1  \nDisappointment... \n Fast delivery\n Good pr...
2           0  \n\n Fast delivery Excellent services for by s...
3           1                               Good product quality
4           1   Product quality is ok\n Delivery time as expe...
5           1   Good product quality Fast delivery Excellent ...
6           1   Good product quality\n\n Good product quality...
7           1  \n Fast delivery Fast delivery\n Good product ...
8           1   Good product quality Fast delivery Excellent ...
9           0                                      Fast delivery

In [8]:
len(df_shopee)

18050

In [9]:
df_shopee.isnull().sum()

auto_label        0
comment       12859
dtype: int64

In [10]:
df_lazada = pd.read_csv("lazada_comments_auto.csv - lazada_comments_auto.csv.csv")

In [11]:
df_lazada.head(10)

,index,auto_label,comment,id,manual_label
0,0,0,Items as specified and all brand new in sealed...,http://www.lazada.sg/products/jaybird-x3-acces...,NaN
1,1,1,Don't know if these are really Apple earphones...,http://www.lazada.sg/products/apple-earpods-wi...,NaN
2,2,1,delivery was fast within 2-3days. the sound wa...,http://www.lazada.sg/products/nakamichi-gold-r...,NaN
3,3,1,Sound stage is fantastic for a speaker of this...,http://www.lazada.sg/products/creative-muvo-2c...,NaN
4,4,0,NaN,http://www.lazada.sg/products/respro-bandit-sc...,NaN
5,5,1,Fast shipping and product works as promised. S...,http://www.lazada.sg/products/aukey-bluetooth-...,NaN
6,6,1,Received my lens very quickly and in good cond...,http://www.lazada.sg/products/nikon-af-s-dx-ni...,NaN
7,7,0,NaN,http://www.lazada.sg/products/respro-cinqro-go...,NaN
8,8,0,NaN,http://www.lazada.sg/products/respro-cinqro-fl...,NaN
9,9,0,NaN,http://www.lazada.sg/products/oxford-of64-blac...,NaN

In [12]:
df_lazada = df_lazada.iloc[:, 1:3]

In [13]:
df_lazada.head(10)

   auto_label                                            comment
0           0  Items as specified and all brand new in sealed...
1           1  Don't know if these are really Apple earphones...
2           1  delivery was fast within 2-3days. the sound wa...
3           1  Sound stage is fantastic for a speaker of this...
4           0                                                NaN
5           1  Fast shipping and product works as promised. S...
6           1  Received my lens very quickly and in good cond...
7           0                                                NaN
8           0                                                NaN
9           0                                                NaN

In [14]:
df_lazada.isnull().sum()

auto_label      0
comment       809
dtype: int64

In [15]:
len(df_lazada)

1836

In [16]:
df_amazon = pd.read_csv("amazon_comments_auto.csv - amazon_comments_auto.csv.csv")

In [17]:
df_amazon.head(10)

,index,auto_label,comment,id,manual_label,Unnamed: 5
0,0,1,I had my eye on this for a few months before p...,https://www.amazon.com/Gold-Cherry-charging-St...,0.0,NaN
1,1,1,My husband enjoys all flavors of the Hormel th...,https://www.amazon.com/Thick-Easy-Consistency-...,1.0,NaN
2,2,1,I've been taking one of these a day and on day...,https://www.amazon.com/Herbal-Secrets-Capsules...,1.0,NaN
3,3,1,Summary: Who should buy an Apple TV\nWe own ab...,https://www.amazon.com/Apple-MQD22LL-A-TV-4K/d...,1.0,NaN
4,4,1,Wonderful stuff! Taking this twice a day has ...,https://www.amazon.com/Bragg-Organic-Unfiltere...,1.0,NaN
5,5,1,It was better than I expected. Within two week...,https://www.amazon.com/Bragg-Gluten-Organic-Vi...,1.0,NaN
6,6,1,"I do not know why, perhaps this is what I was ...",https://www.amazon.com/Motts-100-Apple-Juice-b...,1.0,NaN
7,7,-1,"Beware. The listing said OEM Apple, but I dou...",https://www.amazon.com/Apple-Lightning-To-USB-...,-1.0,NaN
8,8,1,"I'm not one to typically post a review, howeve...",https://www.amazon.com/Apple-Watch-42mm-Space-...,-1.0,NaN
9,9,1,Well made product. Everything fit perfectly. N...,https://www.amazon.com/3-Piece-Fintie-Pencil-L...,1.0,NaN

In [18]:
df_amazon = df_amazon.iloc[:,1:3]

In [19]:
df_amazon.head(10)

   auto_label                                            comment
0           1  I had my eye on this for a few months before p...
1           1  My husband enjoys all flavors of the Hormel th...
2           1  I've been taking one of these a day and on day...
3           1  Summary: Who should buy an Apple TV\nWe own ab...
4           1  Wonderful stuff!  Taking this twice a day has ...
5           1  It was better than I expected. Within two week...
6           1  I do not know why, perhaps this is what I was ...
7          -1  Beware.  The listing said OEM Apple, but I dou...
8           1  I'm not one to typically post a review, howeve...
9           1  Well made product. Everything fit perfectly. N...

In [20]:
df_amazon.isnull().sum()

auto_label      0
comment       178
dtype: int64

In [21]:
len(df_amazon)

11018

In [ ]:
df_shopee.comment = df_shopee.comment.replace('', np.nan)

In [24]:
df_lazada.comment = df_lazada.comment.replace('', np.nan)

In [25]:
df_amazon.comment = df_amazon.comment.replace('', np.nan)

In [26]:
df_amazon = df_amazon.dropna()

In [27]:
df_shopee = df_shopee.dropna()

In [28]:
df_lazada = df_lazada.dropna()

In [29]:
len(df_amazon)

10840

In [30]:
len(df_shopee)

5191

In [31]:
len(df_lazada)

1027

In [32]:
len(df_shopee)

5191

In [34]:
df_all = pd.concat([df_lazada, df_shopee, df_amazon])

In [36]:
len(df_all)

17058

In [37]:
len(df_amazon)

10840

In [38]:
len(df_shopee)

5191

In [39]:
len(df_lazada)

1027

In [40]:
df_all.columns = ['label', 'text']

In [45]:
df_all.iloc[1026:1040]

      label                                               text
1835      1  The delivery was quite fast. The quality of th...
1         1  \nDisappointment... \n Fast delivery\n Good pr...
2         0  \n\n Fast delivery Excellent services for by s...
3         1                               Good product quality
4         1   Product quality is ok\n Delivery time as expe...
5         1   Good product quality Fast delivery Excellent ...
6         1   Good product quality\n\n Good product quality...
7         1  \n Fast delivery Fast delivery\n Good product ...
8         1   Good product quality Fast delivery Excellent ...
9         0                                      Fast delivery
10        1             Good product quality\n Fast delivery\n
11        1                        Excellent service by seller
12        1  \n\n Good product quality Fast delivery\n Good...
13        1  Products received but am not sure which one is...

In [46]:
df_all['text'] = df_all.text.str.replace("\n", " ")

In [48]:
df_all = df_all[['text', 'label']]

In [51]:
df_all.to_csv('ir_dataset_v1.csv', index=False)